@model uygoman.Models.CrKey

@{
    ViewData["Title"] = "Create";
}
<div class="mx-5">

    <form method="post" asp-action="Create">
        <div class="table">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!--<div asp-validation-summary="All" class="text-danger"></div>-->
            <br />

            <div class="form-group row">
                <h2 class="text-info text-center ">
                    Add Key
                </h2>
            </div>
            <br />
            <div class="row">
                <div class=" col-md-12">
                    <div class="form-group row bg-light">
                        <div class="col-md-2">
                            <!-- this asp-for is the data anotation check the model-->
                            <label asp-for="Keys"></label>
                        </div>
                        <div class="col-md-5">

                            <input asp-for="Keys" class="form-control" />
                            <span asp-validation-for="Keys" class="text-danger"></span>
                        </div>




                    </div>
                    <div class="form-group row bg-light">
                        <div class="col-md-2">
                            <!-- this asp-for is the data anotation check the model-->
                            <label asp-for="Product_Name"></label>
                        </div>
                        <div class="col-md-5">

                            @*<input asp-for="Product_Name" class="form-control" />*@
                            <select asp-for="Product_Name" class="form-control" asp-items="ViewBag.Product_Name"></select>
                            <span asp-validation-for="Product_Name" class="text-danger"></span>
                        </div>




                    </div>

                    <br />






                    <div class="form-group row">

                        <div class="col-md-4">
                        </div>
                        <div class="col-md-1">
                            <input type="submit" class="btn btn-info" value="Create" />
                        </div>
                        <div class="col-md-2">
                            <a asp-action="Index" class="btn btn-success">
                                Back
                            </a>
                        </div>



                    </div>

                </div>

            </div>



        </div>



    </form>

</div>
    <!-- without this scripts the validation requires the server side validation
        But with this I can do client side validation using javascript
        to make simple :
            IT DOES NOT REQUIRE TO REFRESH FOR VALIDATION BUT WITHOUT THIS REQUIRED REFFRESH-->
    @section Scripts{
        @{ <partial name="_ValidationScriptsPartial" /> }
    }



