@model uygoman.Models.CrKey


<div class="mx-5">

    <form method="post" asp-action="Deletepost">
        <input asp-for="ID" hidden />
        <div class="table-bordered ">


            <div class="form-group row">
                <h2 class="text-info ">
                    Delete Keys
                </h2>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <!-- this asp-for is the data anotation check the model-->
                            <label asp-for="Keys"></label>
                        </div>
                        <div class="col-md-8">

                            <input asp-for="Keys" disabled class="form-control" />

                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label asp-for="Product_Name"></label>

                        </div>
                        <div class="col-md-8">
                            <input asp-for="Product_Name" disabled class="form-control" />


                        </div>
                    </div>

                    <div class="form-group row">

                        <div class="col-md-2">
                            <input type="submit" class="btn btn-info" value="Delete" />
                        </div>
                        <div class="col-md-2">
                            <a asp-action="Index" class="btn btn-success">
                                Back
                            </a>
                        </div>



                    </div>

                </div>

            </div>



        </div>



    </form>
</div>
    <!-- without this scripts the validation requires the server side validation
        But with this I can do client side validation using javascript
        to make simple :
            IT DOES NOT REQUIRE TO REFRESH FOR VALIDATION BUT WITHOUT THIS REQUIRED REFFRESH-->
