@model uygoman.Models.CrKey

@{
    ViewData["Title"] = "Deletepost";
}



<br />

<br />

<div class="text-center">
    <h1>
        Please ensure that keys on behalf of the product You want to delete or not and check the KEYS tab:
        <br />Keys:: @Model.Keys
    </h1> 


   
</div>

