
@{
    ViewData["Title"] = "Company";
}



@*<div  style="margin-left:-10%; margin-right:-10%;    ">
    <div class="row">

        <div class="col-md-3 bg-info" style="height:40vw">

            <br />
            <div class="text-center" style="margin-top:25%;margin-left:20%;">
                <a asp-area="" asp-controller="Admin" asp-action="Index" class="nav-link  text-white btn-success" style="width:70%;"><h2>Admin</h2></a>
                <a asp-area="" asp-controller="Company" asp-action="Index" class="nav-link  text-white btn-success" style="width:70%;"><h2>Company Details</h2></a>
                <a asp-area="" asp-controller="Product" asp-action="Index" class="nav-link  text-white btn-success" style="width:70%;"><h2>Products</h2></a>
                <a asp-area="" asp-controller="Key" asp-action="Index" class="nav-link  text-white btn-success" style="width:70%;"><h2> Keys</h2></a>
                <a asp-area="" asp-controller="Security" asp-action="Index" class="nav-link  text-white btn-success" style="width:70%;"><h2> Security</h2></a>


            </div>
            <br />
            <div class="text-center" style="margin-left:20%;">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link  text-white btn-danger" style="width:70%;"><h4> Home Page</h4></a>
            </div>



        </div>
        <div class="col-md-9 bg-secondary text-center">
            <br />
            <h1> Welcome to the Panel</h1>
        </div>




    </div>

</div>*@
    





