@model uygoman.Models.Admin

@{
    ViewData["Title"] = "Edit";
}
@{
    Layout = "_Layout2";
}


<form method="post">
    <input asp-for="ID" hidden />
    <div class="table-bordered ">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <!--<div asp-validation-summary="All" class="text-danger"></div>-->

        <div class="form-group row">
            <h2 class="text-info ">
                Edit category
            </h2>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="form-group row">
                    <div class="col-md-4">
                        <!-- this asp-for is the data anotation check the model-->
                        <label asp-for="UserID"></label>
                    </div>
                    <div class="col-md-8">

                        <input asp-for="UserID" class="form-control" />
                        <span asp-validation-for="UserID" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label asp-for="Password"></label>

                    </div>
                    <div class="col-md-8">
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>

                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-8">
                        <div class="col-md-4">
                            <input type="submit" class="btn btn-info" value="Update" />
                        </div>
                        <div class="col-md-4">
                            <a asp-action="Index" class="btn btn-success">
                                Back
                            </a>
                        </div>

                    </div>
                    <div class="col-md-4">
                        Text Box
                    </div>
                </div>

            </div>

        </div>



    </div>



</form>
<!-- without this scripts the validation requires the server side validation
    But with this I can do client side validation using javascript
    to make simple :
        IT DOES NOT REQUIRE TO REFRESH FOR VALIDATION BUT WITHOUT THIS REQUIRED REFFRESH-->
@section Scripts{
    @{ <partial name="_ValidationScriptsPartial" /> }
}



