@model uygoman.Models.CompanyReg

@{
    ViewData["Title"] = "Create";
}


@*<div class="d-flex justify-content-center">Div center</div>*@


@*<div class="mx-5">

    <form method="post" asp-action="Create" enctype="multipart/form-data">
        <div class="table">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <br />

            <div class="d-flex justify-content-center form-group row">
                <h2 class=" text-info text-center ">
                    Add Company details
                </h2>
            </div>
            <br />
            <div class="row">
                <div class=" col-md-12">
                    <div class="form-group row bg-light">
                        <div class="col-md-2">
                         
                            <label asp-for="CmpName"></label>
                        </div>
                        <div class="col-md-4">
                            
                            <input asp-for="CmpName" class="form-control" />
                            <span asp-validation-for="CmpName" class="text-danger"></span>
                        </div>

                        <div class="col-md-3">
                            <label asp-for="CmpArabicName"></label>

                        </div>
                        <div class="col-md-3">
                            
                            <input asp-for="CmpArabicName" class="form-control" />
                            <span asp-validation-for="CmpArabicName" class="text-danger"></span>

                        </div>

                    </div>

                    <br />

                    <div class="form-group row bg-light">
                        <div class="col-md-2">

                            <label asp-for="CmpBrandName"></label>
                        </div>
                        <div class="col-md-4">
                            
                            <input asp-for="CmpBrandName" class="form-control" />
                            <span asp-validation-for="CmpBrandName" class="text-danger"></span>
                        </div>

                        <div class="col-md-2">
                            <label asp-for="Email"></label>

                        </div>
                        <div class="col-md-4">
                           
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>

                        </div>

                    </div>

                    <br />

                    <div class="form-group row bg-light">
                        <div class="col-md-2">

                            <label asp-for="Phone"></label>
                        </div>
                        <div class="col-md-4">
                            
                            <input asp-for="Phone" class="form-control" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>

                        <div class="col-md-2">
                            <label asp-for="ContactPerson"></label>

                        </div>
                        <div class="col-md-4">
                            
                            <input asp-for="ContactPerson" class="form-control" />
                            <span asp-validation-for="ContactPerson" class="text-danger"></span>

                        </div>

                    </div>

                    <br />

                    <div class="form-group row bg-light">
                        <div class="col-md-3">

                            <label asp-for="Upload"></label>
                        </div>
                        <div class="col-md-4">
                           
                            
                            <input type="file" asp-for="Upload" class="form-control" />
                            <span asp-validation-for="Upload" class="text-danger"></span>
                        </div>

                    </div>
                    <br />

                    <div class=" form-group row">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="submit" class="btn btn-info " value="Create" />
                            </div>

                            <div class="d-flex justify-content-center col-md-6">
                                <a asp-action="Index" class="btn btn-success ">Back</a>
                            </div>
                        </div>
                    </div>



                </div>

            </div>

        </div>

</form>
</div>*@


<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Add Company</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form method="post" asp-action="Create" enctype="multipart/form-data">
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label asp-for="CmpName"></label>
                                    <input asp-for="CmpName" class="form-control" />
                                    <span asp-validation-for="CmpName" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <label asp-for="CmpArabicName"></label>
                                    <input asp-for="CmpArabicName" class="form-control" />
                                    <span asp-validation-for="CmpArabicName" class="text-danger"></span>
                                </div>

                            </div>
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label asp-for="CmpBrandName"></label>
                                    <input asp-for="CmpBrandName" class="form-control" />
                                    <span asp-validation-for="CmpBrandName" class="text-danger"></span>

                                </div>
                                <div class="col-md-6">

                                    <label asp-for="Email"></label>
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>

                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label asp-for="Phone"></label>
                                    <input asp-for="Phone" class="form-control" />
                                    <span asp-validation-for="Phone" class="text-danger"></span>

                                </div>
                                <div class="col-md-6">
                                    <label asp-for="ContactPerson"></label>
                                    <input asp-for="ContactPerson" class="form-control" />
                                    <span asp-validation-for="ContactPerson" class="text-danger"></span>

                                </div>
                            </div>




                            <div class="form-group">
                                <div class="col-md-6">

                                    <label asp-for="Upload"></label>
                                    <input type="file" name="ifile" class="form-control-file" />

                                </div>


                                   
                                <div class="col-md-6">
                                </div>

                            </div>


                        @*-------
                        <div class=" form-group row">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="submit" class="btn btn-info " value="Create" />
                                </div>

                                <div class="d-flex justify-content-center col-md-6">
                                    <a asp-action="Index" class="btn btn-success ">Back</a>
                                </div>
                            </div>
                        </div>

                        ------*@

                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <a asp-action="Index" class="btn btn-success ">Back</a>
                            

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>




                <!-- without this scripts the validation requires the server side validation
                    But with this I can do client side validation using javascript
                    to make simple :
                        IT DOES NOT REQUIRE TO REFRESH FOR VALIDATION BUT WITHOUT THIS REQUIRED REFFRESH-->
                @section Scripts{
                    @{ <partial name="_ValidationScriptsPartial" /> }
                }



